*, *::before, *::after {
	font-size: 10px;
	margin: 0px;
	font-family: "Gill Sans" , sans-serif, serif;
	box-sizing: border-box;
}

.main-container {
	/*border: 2px solid black;*/
	width: 100vw;
	height: 100vh;
	display: inline;
}
.container-back {
	/*border: 2px solid black;*/
	z-index: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
/*	justify-content: center;
	align-items: center;*/
}

.container-front {
	border: 2px solid black;
	z-index: 1;
	position: absolute;
	top: 33vh;
	left: 33vw;
	width: 33vw;
	height: 33vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

a {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.welcome-tab {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	/*align-items: space-between;*/
	background-image: url("images/welcome.jpeg");
	background-color: transparent;
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
	
}

.home-tab {
	z-index: 0;
	width: 50%;
	height: 50%;
	/*display: block;*/
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	background-image: url("images/home1.jpg");
	background-color: red;
	background-position: right;
	background-repeat: repeat;
	background-size: contain;	
}

.about-me-tab {
	z-index: 0;
	width: 50%;
	height: 50%;
	/*display: block;*/
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	background-image: url("images/about-me.jpeg");
	background-color: gray;
	background-position: top;
	background-repeat: repeat;
	background-size: contain;
}

.portfolio-tab {
	z-index: 0;
	width: 50%;
	height: 50%;
	/*display: block;*/
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: space-around;
	background-image: url("images/portfolio1.jpeg");
	background-color: transparent;
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
}

.contact-me-tab {
	z-index: 0;
	width: 50%;
	height: 50%;
/*	display: block;*/
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: space-around;
	background-image: url("images/contact-me.jpeg");
	background-color: blue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-link {
	/*z-index: 1;*/
	transition: height 0.6s linear,  border-radius 0.6s linear, border-color 0.6s linear, background-color 0.6s linear, color 0.6s linear, font-size 0.6s linear;
	background-color: rgba( 255, 255, 255, 0.3);
	border-radius: 5px;
	border: 1px solid black;
	height: 3rem;
	margin: 2rem;
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
}

.nav-link:hover {
	transition: height 0.6s linear,  border-radius 0.6s linear, border-color 0.6s linear, background-color 0.6s linear, color 0.6s linear, font-size 0.6s linear;
	background-color: rgba( 255, 255, 255, 0.3);
	border-radius: 25px;
	border: 1px solid black;
	height: 4rem;
	margin: 2rem;
	padding: 1rem;
	text-align: center;
	transform: rotate(360deg);
	background-color: black;
	color: white;
	border-color: white;
	font-size: 2rem;
}

.welcome-tab-text {
	font-size: 2.5rem;
	margin: auto ;
}
.welcome-tab-text-d {
	font-size: 4rem;
	font-weight: bold;
	font-color: orange;
}

.underline {
	text-decoration: underline overline;
	font-size: 2.5rem;
}